{%extends 'index.html'%}
{%load static%}
{%block body%}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center"
    style="background-image: url({%static 'assets/img/breadcrumbs-bg.jpg'%});">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
      <h2>Contact</h2>
      <ol>
        <li><a href="/index">Home</a></li>
        <li>Contact</li>
      </ol>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="info-item  d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-map"></i>
            <h3>Our Address</h3>
            <p>A4/19,Ambika Park,Lavachha Vapi, 396193-Valsad <br>
            </p>
          </div>
        </div><!-- End Info Item -->
        <div class="col-lg-3 col-md-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-envelope"></i>
            <h3>Email Us</h3>
            <p>ultratechconstruction2020@gmail.com</p>
          </div>
        </div><!-- End Info Item -->
        <div class="col-lg-3 col-md-6">
          <div class="info-item  d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-telephone"></i>
            <h3>Call Us</h3>
            <p>+91 991369892</p>
          </div>
        </div>
      </div>
      <div class="row gy-4 mt-1">
        <div class="col-lg-6 ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d14966.992998009107!2d72.9610276697754!3d20.310685000000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3be0cdb0f9064c99%3A0x6945b3f188820cac!2s8X69%2B7WF%20Ambica%20park%20lavachha%2C%20Silvassa%20-%20Vapi%20Rd%2C%20Dadra%20and%20Nagar%20Haveli%20and%20Daman%20and%20Diu%20396193!3m2!1d20.310685!2d72.9697824!5e0!3m2!1sen!2sin!4v1703587363809!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form" enctype="multipart/form-data">
            <div class="row gy-4">
              <div class="col-lg-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-lg-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
        <!-- <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row gy-4">
              <div class="col-lg-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-lg-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div> -->
      </div>
    </div>
  </section><!-- End Contact Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
{%endblock%}
